@charset "UTF-8";
/*解决IE6下样式不显示的问题*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    /*outline: 0;*/
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    outline: 1px solid red;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #ff7300;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul, h1, h2, h3, h4, p, span, a {
    white-space: nowrap;
    overflow: hidden;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

body {
    min-width: 1190px;
    _width: expression((document.documentElement.clientWidth||document.body.clientWidth)>1190?"1190px":"");
    font: 12px/1.5 Tahoma, Arial, \5b8b\4f53, sans-serif;
    color: #444;
}

li {
    list-style: none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

.active {
    background-color: #f2f5f8;
}

.g-left {
    float: left;
    display: inline;
}

.g-right {
    float: right;
}

.wrap {
    background: url("images/banner-background.png") no-repeat;
}

.horizontal-center {
    margin: 0 auto;
    width: 1190px;
}

.horizontal-center .banner {
    padding-top: 33px;
}

.banner .left-nav {
    width: 235px;
    height: 400px;
    background: rgb(38, 55, 65);
    background: rgba(38, 55, 65, 0.9);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#e7263741,endColorstr=#e7263741)"; /*Filter for IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#e7263741, endColorstr=#e7263741); /*Filter for older IEs */
}

.banner .left-nav .category {
    padding: 21px 0 30px 0;
    border-bottom: 1px solid #243139;
}

.banner .left-nav .category .clear-bottom {
    border-bottom: none;
}

.banner .left-nav .category h2 {
    height: 22px;
    line-height: 22px;
    margin-bottom: 8px;
}

.banner .left-nav .category h2 a {
    /*display: inline-block;*/
    /*padding-top: 2px;*/
    padding-left: 43px;
    font-size: 14px;
    /*font-family: "宋体";*/
    /*font-weight: bold;*/
}

.banner .left-nav .category h2 span {
    /*display: inline-block;*/
    /**display: inline;*/
    /**zoom:1;*/
    float: left;
    width: 18px;
    height: 22px;
    /*vertical-align: top;*/
}

.banner .left-nav .category .icon-1 {
    background: url("images/icon3.png") -4px 0 no-repeat;
}

.banner .left-nav .category .icon-2 {
    background: url("images/icon3.png") -4px -30px no-repeat;
}

.banner .left-nav .category .icon-3 {
    background: url("images/icon3.png") -4px -58px no-repeat;
}

.banner .left-nav .category .icon-4 {
    background: url("images/icon3.png") -4px -90px no-repeat;
}

.banner .left-nav .category ul {
    height: 18px;
    margin-right: 5px;
}

.banner .left-nav .category li a {
    padding-left: 16px;
    padding-right: 3px;
    color: #c5c5c5;

}

.banner .left-nav .category li a:hover {
    color: #ff7300;
}

.banner .banner-wrap {
    width: 715px;
    overflow: hidden;
    position: relative;
}

.banner .banner-wrap .banner-img {
    position: relative;
    overflow: hidden;
}

.banner .banner-wrap .banner-img li {
    height: 400px;
}

/*.body .banner-wrap .banner-img li{*/
/*display: inline-block;*/
/*}*/
/*.body .banner-wrap .banner-content{*/
/*/!*position: relative;*!/*/
/*overflow: hidden;*/
/*}*/
.banner .banner-wrap .banner-click {
    position: absolute;
    left: 598px;
    top: 376px;
}

.banner .banner-wrap .banner-click li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 28px;
    height: 5px;
    background-color: #dbdbdb;
    font-size: 0;
    -webkit-text-size-adjust: none; /*去掉inline-block的间隙*/
    margin: 0 1px;
}

.banner .banner-wrap .banner-click .current {
    background-color: #ff7300;
    width: 40px;
}

.banner .store-reviews {
    width: 230px;
    height: 400px;
    margin-left: 10px;
    background-color: #fff;
    color: #888;
    display: inline;
}

.banner .store-reviews .review-title {
    padding: 0 12px 0 10px;
    border-bottom: 1px solid #eaeaea;
    height: 28px;
}

.banner .store-reviews .review-title h3 {
    height: 28px;
    line-height: 28px;
    padding-left: 20px;
    background: url('images/icon2.png') 0 -146px no-repeat;
    color: #444;
}

.banner .store-reviews .review-title a {
    height: 28px;
    line-height: 28px;
    color: #888;
}

.banner .store-reviews .review-title a:hover {
    color: #ff7300;
}

.banner .store-reviews .comprehensive-wrap {
    padding: 7px 12px 7px 10px;
    text-align: center;
    position: relative;
}

.banner .store-reviews .comprehensive-score {
    zoom: 1;
}

.banner .store-reviews .under-circle {
    width: 68px;
    height: 68px;
    border: 10px solid #e7eaee;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin: 0 auto;
}

.banner .store-reviews .upper-leftcircle {
    width: 68px;
    height: 68px;
    border: 10px solid #ff7300;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    margin: 0 auto;
    position: absolute;
    left: 68px;
    top: 7px;
    display: table; /*段落的居中*/
}

.banner .store-reviews .upper-leftcircle .word-center {
    margin: 0 auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.banner .store-reviews .upper-leftcircle .score {
    font-family: 'Microsoft YaHei';
    font-size: 22px;
    color: #ff7200;
}

.banner .store-reviews .upper-rightcircle {
    width: 68px;
    height: 68px;
    border: 10px solid #ff7300;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border-left: 10px solid transparent;
    border-top: 10px solid transparent;
    transform: rotate(133deg);
    margin: 0 auto;
    position: absolute;
    left: 68px;
    top: 7px;
}

/*.body .store-reviews .level-wrap {*/
/*text-align: center;*/
/*}*/
.banner .store-reviews .review-level {
    /*width: 22px;*/
    height: 28px;
    background: url("images/icon3.png") no-repeat 0 -116px;
}

.banner .store-reviews .line {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 1px;
    height: 28px;
    background-color: #eaeaea;
    margin-top: 10px;
}

.banner .store-reviews .level-left, .banner .store-reviews .level-right {
    width: 102px;
    height: 46px;
}

.banner .store-reviews .level-right .compare-percent {
    font-size: 14px;
    color: #fc0000;
    height: 28px;
    line-height: 28px;
    background: url("images/icon3.png") no-repeat 0 -142px;
}

.banner .store-reviews .operation-wrap {
    background-color: #f2f5f8;
    padding: 6px 10px 9px 10px;
}

.banner .store-reviews .operation-wrap h4 {
    height: 23px;
    color: #444;
    font-weight: normal;
}

.banner .store-reviews .operation-wrap .service-operation, .banner .store-reviews .operation-wrap .record-customer {
    width: 103px;
    height: 51px;
    text-align: center;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}

.banner .store-reviews .operation-wrap .record-customer {
    display: inline;
}

.banner .store-reviews .operation-wrap .service-number, .banner .store-reviews .operation-wrap .customer-number {
    /*width: 103px;*/
    height: 33px;
    /*padding-top:8px;*/
    text-align: center;
    font-family: 'Microsoft YaHei';
    font-size: 22px;
    color: #ff7300;
}

.banner .store-reviews .operation-wrap .service-back {
    /*display: inline-block;*/
    /**display:inline;*/
    /**zoom: 1;*/
    width: 20px;
    height: 20px;
    background: url("images/icon3.png") no-repeat 0 -180px;
}

.banner .store-reviews .operation-wrap .percent-wrap {
    margin: 0 auto;
    /*width: 197px;*/
    height: 18px;
    font-size: 0;
    -webkit-text-size-adjust: none;
}

.banner .store-reviews .operation-wrap .percent-left {
    font-size: 12px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 78px;

}

.banner .store-reviews .operation-wrap .percent-center {
    width: 92px;
    height: 16px;
    margin-top: 2px;
    font-size: 12px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.banner .store-reviews .operation-wrap .percent-right {
    font-size: 12px;
    color: #ff7300;
    vertical-align: top;
}

.banner .store-reviews .operation-wrap .percent-number {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 10px;
    background-color: #ff9d2a;
}

.banner .store-reviews .operation-wrap .service-apply a {
    display: block;
    height: 28px;
    line-height: 28px;
    margin-top: 9px;
    background-color: #ff7300;
    text-align: center;
    /*-webkit-box-shadow: 0 3px 4px   #f65700;*/
    /*-moz-box-shadow:  0 3px 4px   #f65700;*/
    /*box-shadow:  0 3px 4px   #f65700;*/
    border-bottom: 2px solid #f65700;
}

.banner .store-reviews .operation-wrap .service-apply a:hover {
    color: #000;
}